.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


body {
    background: linear-gradient(maroon, violet, aqua, lime, yellow, indigo);
    background-attachment: fixed;

}

h1 {
    font-family: 'Kumar One', cursive;
    font-size: 82px;
    margin: 30px;
}

p {
    font-family: 'Mallanna', sans-serif;
    font-size: 24px;
    margin: 30px;

}


#randomNum,
#userScore {
    float: left;
    font-family: 'Kumar One', cursive;
    font-size: 120px;
    height: auto;
    padding: 20px;
    text-align: center;
    width: 120px;
}

#userScore {
    left: 100px;
    position: relative;
}

#scoreHed {
    font-size: 48px;
    margin: 30px;

    width: 100%;
}

#game-counter {
    background: lime;
}

.crystal {
    float: left;
    height: 200px;
    margin: 10px;
    position: relative;
    width: auto;
}

.crystalContainer {
    margin: 20px;
}

