.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


body {
    background: papayawhip;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 48px;
    margin: 30px;
    padding: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;

}

#randomNum ,
#userScore {
    background: linear-gradient(violet, aqua, lime);
    font-size: 64px;
    margin: 30px;
    padding: 50px;
    text-align: center;
    width: 120px;
}

#scoreHed {
    background: lime;
    font-size: 16px;
    margin: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 120px;
}

#game-counter {
    background: lime;
}

.crystal {
    float: left;
    height: 100px;
    margin: 10px;
    position: relative;
    width: 100px;
}

.crystalContainer {
    margin: 20px;
}